* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* header */
h1 {
    font-size: 40px;
    color: #E5316F;
    line-height: 100px;
}

p {
    font-size: 18px;
}

.header-info {
    text-align: center;
}

/* Main */